body {
    background-image: url(https://wallpaperscraft.com/image/drawing_stones_diamonds_precious_shiny_29905_1920x1080.jpg);
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    
}
.img {
    height: 100px;
    width: 100px;
}
#header {
    background-color: rgb(116, 7, 7);
    color: white;
    height: 50px;
    font-weight: bolder;
    font-size: 35px;
    text-align: center;
}
#instructions {
    background-color: rgb(140, 222, 228);
    color: rgb(43, 42, 42);
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 15px;;
    }
#randomNumber {
    background-color: rgb(191, 168, 196);
    color: rgb(235, 103, 27);
    font-size: 50px;
    width: 100%;
    margin-bottom: 20px;
    height: 100px;
    text-align: center;
}
#progress {
    background-color: rgb(193, 187, 199);
    color: rgb(238, 83, 12);
    font-size: 20px;
    height: 100px
}
#total, #totalHeader {
    background-color: rgb(99, 253, 150);
    color: rgb(16, 8, 31);
    margin-top: 20px;
    margin-left: 0px;
}
#totalHeader {
    font-size: 25px;
    padding-left: 10px;
}
#total {
    height: 100px;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: center;
}
#imgs {
    margin-left: 0px;
}

input[type=image] {
    -webkit-appearance: none;
    border-radius:0px;
}